body {
    background-color: rgb(139, 192, 228);
    color: white;
}
h1 {
    color: white;
    font-family: Arial;
    text-shadow: 2px 2px #2d93e6;
}
h3 {
    color: gray;
    font-family: Arial;
}
h4 {
    color: black;
    font-family: Arial;
} 
p {
    color: blue;
    font-family: Arial;
}
a {
    color: black;
    text-decoration: underline;
}
a:hover {
    color: white;
    text-decoration: none;
}
